{{- with .Site.Params.github_doc_repository -}}
{{- with $.File -}}
<a href="https://gitlab.com/douglas-ecommerce/documentation/edit/master/content/{{ .Path }}" class="edit-page"><i class="fas fa-pen-square"></i> Edit on gitlab</a>
<br>
<a href="https://gitlab.com/douglas-ecommerce/documentation/raw/master/content/{{ .Path }}" target="_blank" class="edit-page"> Download </a>
{{- end -}}

{{- end -}}
