<header style="text-align: center">
<h1>{{ .Site.Title }}</h1>
{{ with .Site.Params.version }}
 <span class="version">Version {{ . }}</span>
{{end}}
{{- with .Site.Params.github_repository -}}
<a href="{{ . }}" class="github" target="_blank"><i class="fab fa-gitlab"></i></a>
{{- end -}}
{{ with .Site.Params.description }}
<p class="description">{{ . }}</p>
{{end}}
</header>
